node_modules
.DS_Store
coverage
coverage/shards
.vitest-blobs
playwright-report
test-results
.turbo
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
/src/routeTree.gen.ts
.vercel
.next
